<div class="resume-page page">

	<div class="resume-box">
		<img class="resume-image" src=<%=image_path("resume.png")%>>
	</div>

	<div class="dark-call-to-action">
			<div class="cta-heading">
				<span class="pre-heading">Like what you see?</span>
				<span class="heading-link box-link"><a href="assets/L_Marlowe_CV.pdf" target="_blank">Download a copy!</a></span>
			</div>
		</div>
	</div>

	<div class="call-to-action">
			<div class="heading cta-heading">
				<div class="pre-heading">Want to chat?</div>
				<div class="main-heading">Contact Me!</div>
				<div><span class="heading-link box-link"><a href="/contacts/new">Click Here</a></span></div>
			</div>
		</div>
	</div>
</div>