#about-life-box {
	padding-bottom: 0;
}

#about-pic {
	height: 200px;
}

.about-info {
	margin-top: 20px !important;
}

#above-map {
	padding-top: 20px;
}

.more-about-me-box {
	margin: 0 60px 0 60px;
	font-size: 2vw !important;
}

