// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin: 0;
	min-width: 500px;
}

a {
	text-decoration: none !important;
  -webkit-transition: color .5s, background-color .5s;
  -moz-transition:    color .5s, background-color .5s;
  -ms-transition:     color .5s, background-color .5s;
  -o-transition:      color .5s, background-color .5s;
  transition:         color .5s, background-color .5s;
}

.top-link a {
	color: rgba(255, 255, 255, 0.7);
}

.top-home-link a {
	color: white;
}

.top-link a:hover {
  color: rgba(255, 255, 255, 1);
}

.hover-link a:hover {
	color: rgba(255, 255, 255, 1) !important;
}

.top-link a:visited {
  color: inherit !important;
}

footer a {
	color: rgba(255, 255, 255, 0.7);
}

footer a:hover {
  color: rgba(255, 255, 255, 1);
}

footer a:visited {
  color: inherit;
}

.nav-contact a {
	color: rgba(255, 255, 255, 0.7);
	border: white solid 1px;
	padding: 5px 10px 5px 10px;
}

.box-link a:visited {
	color: rgba(255, 255, 255, 0.7);
}

.box-link a:hover {
  color: rgba(0, 0, 0, 1);
	background-color: white;
}

.heading-link a {
	color: rgba(255, 255, 255, 0.7);
	padding: 10px 20px 10px 20px;
	border: white solid 2px;
}

header {
padding-bottom: 100px;
background: image-url("testbg1.jpg") center no-repeat;
background-size: cover;
height: auto;
color: rgba(255, 255, 255, 0.7);
width: auto;
z-index: -999999;
}

.call-to-action {
background: image-url("testbg2.jpg") center no-repeat;
background-size: cover;
height: auto;
width: auto;
z-index: -999999;
}

.dark-call-to-action {
background-color: #353439;
height: 300px;
width: auto;
z-index: -999999;
}

.cta-heading {
	height: 300px;
	width: 2000px;
	display: table-cell;
	vertical-align: middle;
	font-size: 8vw;
	position: relative;
	color: white;
	text-align: center;
	margin-bottom: 0;
}

.cta-heading div {
	color:#fff;
	text-shadow:1px 1px 0 #fff,
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	0px 1px 0 #000,
	1px 0px 0 #000,
	0px -1px 0 #000,
	-1px 0px 0 #000,
	4px 4px 3px #000;
}

.top-navbar > span {
	position: relative;
	top: 20px;
	color: rgba(255, 255, 255, 0.7);
}

.nav-links {
  position: relative;
  float: right;
}

.nav-links span {
	margin-right: 40px;
}

.heading {
	height: 500px;
	width: 2000px;
	display: table-cell;
	vertical-align: middle;
	font-size: 8vw;
	position: relative;
	color: white;
	text-align: center;
	margin-bottom: 0;
}

.pre-heading {
	font-size: 4vw;
	font-family: cursive;
}

.heading-link {
	margin-top: 20px;
	font-size: 4vw;
}

.heading-link a {
	color: white;
}

.shade-box {
	padding: 100px 100px 100px 100px;
	font-size: 4vw;
	text-align: center;
	margin-top: 0;
	height: auto;
	width: auto;
	background-color: #edeeef;
}

.shade-box-no-padding {
	font-size: 4vw;
	margin-top: 0;
	height: auto;
	width: auto;
	background-color: #edeeef;
}

.white-box {
	padding: 100px 0px 100px 0px;
	font-size: 4vw;
	text-align: center;
	margin-top: 0;
	height: auto;
	width: auto;
}

.main-intro-box {

}

.why-me-title {
	margin-bottom: 40px;
}

.why-me-video {
	margin-bottom: 40px;
}

.why-me-video img {
	max-width: 50%;
	max-height: 50%;
	height: 100%;
	width: 100%;
}

.shade-button {
	font-size: 25px;
}

.shade-button a {
	color: black;
	padding: 30px 60px 30px 60px;
	border: black solid 3px;
	width: 20px;
}

.shade-button a:visited {
	color: black;
}

.shade-button a:hover {
  color: white;
	background-color: black;
}

.latest-projects-box {
  padding-bottom: 60px;
}

.latest-projects-title {
	padding-top: 100px;
	margin-bottom: 40px;
	text-align: center;
}

.latest-projects {
	color: white;
	margin-bottom: 40px;
	text-align: center;
}

.recent-project-wrapper {
	position: relative;
	position: relative;
	display: block;
	height: auto;
	min-width: 100px;
	margin: 20px;
	box-shadow: 5px 5px 5px #888888;
}

#recent-project-1 {
	background: image-url("verona1.jpg") center;
}

#recent-project-2 {
	background: image-url("chess1.jpg") center;
}

#recent-project-3 {
	background: image-url("juke1.jpg") center;
}

.highlight-box {
	color: rgba(0,0,0,0);
	display: block;
	position: relative;
	background-color: rgba(0,0,0,0);
	height: 10px;
	min-width: 100px;
	padding: 100px;
}

#project-description {
	position: relative;
	bottom: 80px;
	text-align: center;
	color: white;
}

#project-link {
	margin-right: 10px;
	position: relative;
	bottom: 40px;
	text-align: center;
	color: white;
}

#project-link a{
 color: white;
 border: white 1px solid;
 padding: 10px;
}

#project-info-link a{
	margin-left: 10px;
	position: relative;
	bottom: 40px;
	text-align: center;
	color: white;
}


#project-info-link a{
	color: white;
	border: white 1px solid;
 	padding: 10px;
}

#project-link a:visited{
 color: white;
}

#project-info-link a:visited{
	color: white;
}

#project-link a:hover{
 color: black;
 background-color: white;
}

#project-info-link a:hover{
	color: black;
	background-color: white;
}

.what-i-do-list {
	white-space: nowrap;
	overflow: none;
}

.one-thing-i-do {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	width: 30%;
	font-size: 2vw;
	margin-bottom: 50px;
	margin-top: 50px;
}

.one-thing-i-do img {
	margin-bottom: 30px;
	max-width: 80%;
	max-height: 80%;
	width: 100%;
	height: 100%;
}

.thing-i-do-header {
	white-space: normal;
	min-height: 40px;
	font-size: 3vw;
}

.thing-i-do-description {
	white-space: normal;
	overflow: hidden;
	font-size: 2vw;
	height: 50px;
}

.more-projects-button-box {
	text-align: center;
	padding-bottom: 50px;
}

.what-i-do-button-box {
	text-align: center;
	padding-bottom: 50px;
	margin-top: 10px !important;
}

.everyday-life-list {
	width: 100%;
	white-space: nowrap;
}

.everyday-image {
	max-height: 100%;
  max-width: 100%;
  width: 25%;
  height: 25%;
  margin: 10px;
}

.everyday-life-box {
	padding: 100px 0px 100px 0px;
	font-size: 4vw;
	text-align: center;
	margin-top: 0;
	height: auto;
}

.everyday-life-title {
	padding-bottom: 30px;
}

.latest-blogs-title {
	padding-top: 100px;
	margin-bottom: 40px;
	text-align: center;
}

.latest-blogs {
	color: white;
	margin-bottom: 40px;
	text-align: center;
}

.more-blogs-button-box {
	text-align: center;
	padding-bottom: 100px;
}

.social-media-icons span img {
	margin-right: 10px;
	padding-top: 50px;
	width: 50px;
	opacity: .7;
}

.social-media-icons span a:hover img {
	margin-right: 10px;
	padding-top: 50px;
	width: 50px;
	opacity: 1;
}

.bottom-navbar {
	padding-top: 100px;
}

footer {
	background-color: #1a1a1a;
	color: rgba(255, 255, 255, .7);
}

footer div {
	margin-bottom: 30px;
	text-align: center;
}

.footer-filler {
	height: 75px;
	margin: 0;
}

.icon img{
	width: 50px;
}

.top-icon img {
	margin-left: 50px;
	visibility: hidden;
}

.button-box {
	margin-top: 80px;
}

.legal {
	display: none;
}

.modal {
	background-color: white !important;
	width: 50% !important;
	height: 50% !important;
	text-align: center;
	left: 25% !important;
	top: 10% !important;
}